.top {
    height: 32px;
    width: 100%;
    background-color: #379BD6;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-weight: 500;
    align-items: center;
    text-decoration: underline;
    font-size: 14px;
}

.hero-container {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #f5f5f5; */
    /* background-image: url('../images/slide.svg'); */
    background-image: linear-gradient(90deg, #5de0e6, #004aad);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container #text {
    height: 40%;
    font-weight: 600;
    font-size: clamp(1.5rem, 5vw, 30rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    /* letter-spacing: 10px; */
}

.home-para {
    font-size: 16px;
    text-align: justify;
    color: #3d3d3d;
}

.hero-container div img {
    height: 100px;
    width: auto;
}

.rect {
    height: 400px;
    width: 400px;
    background-image: url('../images/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ld-img {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#rm {
    background-image: url('../images/1516571437701.png');

}

#pc {
    background-image: url('../images/1516640281499.png');
}

#vg {
    background-image: url('../images/173571309168.png');
}

#sp {
    background-image: url('../images/d091836f-f4f2-4359-8d8a-c286354ead50\ 1\ \(2\).png');
}

#vk {
    background-image: url('../images/VK8421809b-6f4a-49a1-8e5c-4594602d3e0d.jpeg');
}

#pr {
    background-image: url('../images/64105fe5-9dcc-4443-a45f-684843958a65\ 1.png');
}


#rs {
    background-image: url('../images/rs.jpg');
}

#ub{
    background-image: url('../images/ub.png');
    /* background-size: ; */
}


@media screen and (max-width: 1200px) {
    .hero-container #text {
        height: 40%;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #ffffff;
        font-family: "Oswald", sans-serif;
    }

    .rect {
        height: 300px;
        width: 300px;
        background-image: url('../images/hero.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (max-width: 900px) {
    .hero-container {
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(90deg, #5de0e6, #004aad);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-container #text {
        margin-top: 32px;
        height: 40%;
        font-weight: 600;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #ffffff;
        font-family: "Oswald", sans-serif;
        /* letter-spacing: 10px; */
    }

    .rect {
        height: 300px;
        width: 300px;
        background-image: url('../images/hero.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

